::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.submit-button{
    width: 20%;
}

mat-card{
    background-color: #6495ED;
    border: 0.25px solid white;
}

mat-card-title{
    color: white;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-size: bold;
    padding-bottom: 20px;
    
}

.submit-button{
    color: white;
    border: 0.25px solid white;

    &:hover{
        background-color: #1E90FF;
    }
}