<div class="post-container">
    <div class="post-content">
        <div class="post-description">

        </div>
        <div class="post-image">

        </div>
    </div>
    <div class="post-coments">

    </div>
    <div class="comments-box">

    </div>
    <div class="new-comment-box">
        <mat-form-field>
            <mat-label>Dodaj nowy komentarz</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
    </div>
</div>

