<mat-card id="card" style="text-align: center;  margin-top: 2%">
	<mat-card-title style="color: #320b86">
    {{ "forms.registration.title" | translate }}
	</mat-card-title><br>
<mat-card-content>
    <form [formGroup]="formModel" autocomplete="off" class="registration-form" (submit)="onSubmit()">
        <div class="form-group">
            <mat-form-field appearance="outline" class="registration-field">
                <mat-label>{{ "forms.shared.username" | translate }}</mat-label>
                <input type="text" matInput formControlName="username"
                       placeholder= "{{'forms.shared.username' | translate}}">
                <mat-error *ngIf="formModelControls.username.errors?.required">
                  {{ "forms.shared.usernameIs" | translate }} <strong> {{ "forms.shared.required" | translate }} </strong>
                </mat-error>
                <mat-error *ngIf="formModelControls.username.errors?.usernameExists">
                    {{ "forms.shared.usernameIs2" | translate }} <strong> {{ "forms.shared.busy" | translate }} </strong>
                  </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="registration-field">
                <mat-label>{{ "forms.registration.firstName" | translate }}</mat-label>
                <input type="text" matInput formControlName="firstName"
                       placeholder="{{'forms.registration.firstName' | translate}}">
                <mat-error *ngIf="formModelControls.firstName.errors?.required">
                    {{ "forms.registration.firstNameIs" | translate }} <strong> {{ "forms.shared.required" | translate }} </strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="registration-field">
                <mat-label>{{ "forms.registration.lastName" | translate }}</mat-label>
                <input type="text" matInput formControlName="lastName"
                       placeholder="{{'forms.registration.lastName' | translate}}">
                <mat-error *ngIf="formModelControls.lastName.errors?.required">
                    {{ "forms.registration.lastNameIs" | translate }} <strong> {{ "forms.shared.required" | translate }} </strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="registration-field">
                <mat-label>{{ "forms.registration.city" | translate }}</mat-label>
                <input type="text" matInput formControlName="city"
                       placeholder="{{'forms.registration.city' | translate}}">
                <mat-error *ngIf="formModelControls.city.errors?.required">
                    {{ "forms.registration.cityIs" | translate }} <strong> {{ "forms.shared.required" | translate }} </strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="registration-field">
                <mat-label>{{ "forms.registration.email" | translate }}</mat-label>
                <input type="text" matInput formControlName="email"
                       placeholder="{{'forms.registration.email' | translate}}">
                <mat-error *ngIf="formModelControls.email.errors?.required">
                    {{ "forms.registration.emailIs" | translate }} <strong> {{ "forms.shared.required" | translate }} </strong>
                </mat-error>
                <mat-error *ngIf="formModelControls.email.errors?.email">
                    {{ "forms.registration.emailIs" | translate }} <strong> {{ "forms.shared.invalid" | translate }} </strong>
                </mat-error>
            </mat-form-field>
        </div>
            <div formGroupName="passwords">
                <div class="form-group">
                    <mat-form-field appearance="outline" class="registration-field">
                        <mat-label>{{ "forms.shared.password" | translate }}</mat-label>
                        <input type="password" matInput formControlName="password"
                               placeholder="{{'forms.shared.password' | translate}}">
                        <mat-error *ngIf="formModelControls.passwords.get('password').errors?.required">
                            {{ "forms.shared.passwordIs" | translate }} <strong> {{ "forms.shared.required" | translate }} </strong>
                        </mat-error>
                        <mat-error *ngIf="formModelControls.passwords.get('password').errors?.pattern">
                            {{ "forms.registration.passwordRegexError" | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="outline" class="registration-field">
                        <mat-label>{{ "forms.registration.repeatPassword" | translate }}</mat-label>
                        <input type="password" matInput formControlName="confirmPassword"
                        placeholder="{{'forms.registration.repeatPassword' | translate}}">
                        <mat-error *ngIf="formModelControls.passwords.get('confirmPassword').errors?.required">
                            {{ "forms.registration.repeatPasswordIs" | translate }} <strong> {{ "forms.shared.required" | translate }} </strong>
                        </mat-error>
                        <mat-error *ngIf="formModelControls.passwords.get('confirmPassword').errors?.required">
                            {{ "forms.registration.passwords" | translate }} <strong> {{ "forms.shared.vary" | translate }} </strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-stroked-button class="submit-button" type="submit" color="primary" [disabled]="!formModel.valid">{{ "forms.registration.registrationButton" | translate }}</button>
            </div>
        </form>
</mat-card-content>
    

  